body{
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    z-index: -100;
}

.icons{
    transition: transform 0.2s ease-in-out;
}

.shadow1{
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.shadow2{
    box-shadow: -5px -5px 9px rgba(133, 132, 132, 0.45), 5px 5px 9px rgba(73, 84, 104, 0.3);
}

.text-shadow-class1{
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}
.text-shadow-class2{
    background-color: rgb(187, 187, 187);
    color: transparent;
    text-shadow: 2px 2px 1px rgba(193, 193, 193, 0.422);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}
.icons:hover {
    transform: translateY(-5px);
}

.box{
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);

}
.box2{
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    
    }
 .aboutBox{
    transition: transform 0.2s ease-in-out;
 }   
 .aboutBox:hover {
    transform: translateY(-5px);
}

/* lightTheme:'rgba(245,102,146,1)',
        darkTheme:'rgba(56,189,249,1)', */